* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 240, 234);
    color: rgb(56, 51, 43);
}

header {
    background-color: rgb(231, 224, 212);
    height: 200px;
}

.success {
    float: left;
    padding: 10px;
    border: 2px solid rgb(216, 205, 186);
    border-radius: 16px;
}

.welcome-logout {
    float: right;
    padding: 10px;
    border: 2px solid rgb(216, 205, 186);
    border-radius: 16px;
}

#wrapper {
    clear: both;
    width: 940px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 10px 0;
}

p {
    margin-bottom: 20px;
}

form {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

fieldset {
    padding: 10px;
    border: 2px solid rgb(216, 205, 186);
    border-radius: 16px;

}

input {
    display: block;
    width: 90%;
    margin-bottom: 10px;
}

h3 {
    text-align: center;
    margin: 10px 0;
}

.block{
    display: block;
    text-align: center;
    font-style: italic;
}

.error {
    margin: 10px 0;
    color: red;
    font-style: italic;
    text-align: center;
}

footer {
    height: 50px;
    line-height: 50px;
    clear: both;
    margin-top: 50px;
}

footer ul {
    margin: 0 auto;
    width: 755px;
}

footer li {
    float:left;
    list-style-type: none;
    margin-left: 20px;
}
